<h1 class= "title"> Crash ToDos</h1>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

<script>
$(function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});
</script>

<ul id= "sortable" style= "cursor:move">
  <% @todos.each do |todo| %>
    <li class="ui-state-default" id= "item_<%= todo.id %>"
      <div class= 'todo'>
        <h3><%= todo.title %></h3>
        <%= form_for todo do |f|%>
        <%= f.hidden_field :id, class: "rails-id" %>
          <%=f.check_box :complete %>
        <% end %>
        <p><%= todo.description %></p>
        <p><%= todo.category %></p>
      </div>
    </li>
  <% end %>
</ul>
<div id = "new-todo">
<%= link_to "New", new_to_do_path, remote: true %>
</div>
<div id="new-form"></div>
