<h1 class= "title"> Crash ToDos</h1>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

<script>
$(function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});
</script>
<div id= "text_block">
  <ul id= "sortable">
    <h2> Your ToDos </h2>
    <% @todos.each do |todo| %>
      <li class="ui-state-default" id= "item_<%= todo.id %>" style= "cursor:move">
        <div class= 'todo'>
          <h3><%= todo.title %></h3>
          <p><%= todo.description %></p>
          <p><%= todo.category %></p>
          <%= form_for todo do |f|%>
            <%= f.hidden_field :id, class: "rails-id" %>
            Complete? <%=f.check_box :complete, class: "to_do_complete" %>
          <% end %>
        </div>
      </li><br>
    <% end %>
  </ul>
  <div id = "new-todo">
    <p>Welcome to Crash ToDos! To create a new ToDo item, please click below.</p>
    <%= link_to "New ToDo", new_to_do_path, remote: true %>
  </div>
  <div id="new-form"></div>
</div>
