<h1>ToDos</h1>

<% @todos.each do |todo| %>
  <div class= 'todo'>
      <h3><%= todo.title %></h3>
      <%= form_for todo do |f|%>
      <%= f.hidden_field :id, class: "rails-id" %>
        <%=f.check_box :complete %>
      <% end %>
      <p><%= todo.description %></p>
      <p><%= todo.category %></p>
  </div>

<% end %>
